@model IEnumerable<Domain.Meal>

@{
    ViewData["Title"] = "Menu";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Path"] = new String[] { "Menu", "Week", ViewBag.WeekNumber };
    bool showMeals = true;
    if (Model.Count() == 0)
    {
        showMeals = false;
    }
    bool matchesWeek = Domain.WeekMenuEM.Week(DateTime.Today).ToString().Equals(ViewBag.WeekNumber);
    ViewBag.Match = matchesWeek;
}

<div class="container" style="padding-right: -250px;">
    <div class="row">
        <div class="col-8">
            <h1>Menu for week @ViewBag.WeekNumber - @ViewBag.Year</h1>
            <h3>@ViewBag.DateString</h3>
            @if (!matchesWeek)
            {<h3>Notice : this menu is not yet complete and is subject to change. Therefore you cannot yet order a meal here.</h3>}
            @if (showMeals)
            {
                int i = 0;

                @foreach (var item in Model)
                {
                    i++;
                    String classes = String.Empty;
                    if (ViewBag.DishesPerMeal.ContainsKey(item.Id))
                    {
                        <h4>
                            <button style="margin-top: -20px; margin-bottom: 10px;" class="btn btn-info" type="button" data-toggle="collapse" data-target="#collapse-@item.Id" aria-expanded="false" aria-controls="collapseExample">
                                @item.DateValid.ToLongDateString()
                            </button>
                        </h4>
                        @if (i == 1)
                        { classes = "collapse show"; }
                        else { classes = "collapse"; }
                        <div class="@classes" id="collapse-@item.Id">
                            <div id="" class="card-list is-list-view is-multiline is-marginless border" style="padding: 10px;">

                                <partial name="../Shared/ModelCards/DishModelCard" model="item" />

                            </div>
                        </div>
                    }
                    else
                    {
                        <h4>No dishes in this menu</h4>
                    }
                }
            }
            else
            {
                <h4>No menu present for this week :(</h4>
            }
        </div>
        <div class="col-4">
            <partial name="../Shared/ModelCards/OrderCard" model="ViewBag.SortedOrders;" />
        </div>
    </div>
</div>

