@model EasyMeal.Web.Meals.Models.CreateMealModel

@{
    ViewData["Title"] = "Create";
    var week = EasyMeal.Core.Domain.Extensions.Week(DateTime.Today)+1;
    var date = EasyMeal.Core.Domain.Extensions.StartOfWeek(DateTime.Today.Year, week);
}

<h1>Create</h1>

<h4>Meal</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DateValid" class="control-label">Date</label>
                <input type="date" asp-for="DateValid" class="form-control" min="@date.ToString("yyyy-MM-dd")"/>
                <span asp-validation-for="DateValid" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="StarterId" class="control-label">Starter</label>
                <select asp-for="StarterId" class="form-control">
                    @foreach (var opt in ViewBag.Starters)
                    {
                    <option value="@opt.Id">#@opt.Id : @opt.Name</option>
                    }
                </select>
                <span asp-validation-for="StarterId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MainId" class="control-label">Main</label>
                <select asp-for="MainId" class="form-control">
                    @foreach (var opt in ViewBag.Mains)
                    {
                            <option value="@opt.Id">#@opt.Id : @opt.Name</option>
                    }
                </select>
                <span asp-validation-for="MainId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DessertId" class="control-label">Dessert</label>
                <select asp-for="DessertId" class="form-control">
                    @foreach (var opt in ViewBag.Desserts)
                    {
                        <option value="@opt.Id">#@opt.Id : @opt.Name</option>
                    }
                </select>
                <span asp-validation-for="DessertId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
