@model EasyMeal.Core.Domain.Meal

@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>

    <h4>@Model.DateValid.ToLongDateString()</h4>
    <ul class="metadata page-metadata" data-bi-name="page info" lang="en-us" dir="ltr">
        <li class="readingTime">@Model.DateValid.ToShortDateString() - Week @EasyMeal.Core.Domain.WeekMenuEM.Week(Model.DateValid)</li>
    </ul>
    <div style="margin-top: 25px">
        @{
            if (ViewBag.Dishes.Length == 0)
            {
                <h5>None</h5>
            }
            else
            {
                @foreach (var dish in ViewBag.Dishes)
                {
                    if (dish != null) { 
                    <h5>@dish.DishType : @dish.Name</h5>
                    <p><em>@dish.Description</em></p>
                    <br />
                    }
                }
            }
        }
    </div>
    <br />


</div>
<div>
    <a class="btn btn-info" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    <a style="margin-left: 50px;" class="btn btn-danger" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
</div>
