@model Domain.Meal

@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>

    <h4>@Model.DateValid.ToLongDateString()</h4>
    <ul class="metadata page-metadata" data-bi-name="page info" lang="en-us" dir="ltr">
        <li class="readingTime">@Model.DateValid.ToShortDateString() - Week @Domain.WeekMenuEM.Week(Model.DateValid)</li>
    </ul>
    <div style="margin-top: 25px">
        @foreach (var dish in ViewBag.Dishes)
        {
            <h5>@dish.DishType : @dish.Name</h5>
            <p><em>@dish.Description</em></p>
            <br />
        }
    </div>
    <br />


</div>
<div>
    <a class="btn btn-info" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
</div>
