@model Domain.Meal

@{
    IEnumerable<Domain.Dish> list = null;
    ViewBag.DishesPerMeal.TryGetValue(Model.Id, out list);
    ViewData["ParentId"] = Model.Id;
}
@using (Html.BeginForm())
{
    @foreach (var dish in list)
    {
        <div class="column is-6 is-4-desktop">
            <div class="c-card is-sample is-padded ">

                <div class="container">
                    <div class="row">
                        <div class="col-1">
                            <div class="r-image">
                                <img src="~/img/logo-medium-nobord.png" />
                            </div>
                        </div>
                        <div class="col-11">
                            <div class="r-header ">
                                <div>
                                    <h3>@dish.Name</h3>
                                    <h4>€@String.Format("{0:0.00}", dish.Price) - @dish.DishType</h4>
                                    <p class="can-truncate-2" style="max-width: 80%;">@dish.Description</p>
                                    <a data-toggle="collapse" data-target="#collapse-@dish.Id-@ViewData["ParentId"]" aria-expanded="false" aria-controls="collapseExample">
                                        <span class="o-small o-highlight">Details</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="collapse" id="collapse-@dish.Id-@ViewData["ParentId"]">
                <div class="c-card is-sample is-padded " style="margin-top: -2px; background: #F2F8F9;">
                    <div class="r-header">
                        <div>
                            @if (dish.DietRestrictions.Count > 0)
                            {
                                <h3>Compatible with :</h3>
                                @String.Join(", ", dish.DietRestrictions)
                                <br /><br />
                            }

                            <h3>Size : </h3>
                            <b>@dish.DishType.ToString(Layout)Size</b>
                            
                            <select class="form-control" name="@dish.DishType.ToString(Layout)Size">
                                @foreach (var opt in Enum.GetValues(typeof(Domain.DishSize)))
                                {
                                    if (opt.Equals(Domain.DishSize.Medium))
                                    {
                                        <option name="@dish.DishType.ToString().ToLower()size" selected value="@opt.ToString()">@opt</option>
                                    }
                                    else
                                    {
                                        <option name="@dish.DishType.ToString().ToLower()size" value="@opt.ToString()">@opt</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <br />
                </div>
            </div>
        </div>
    }


    <input type="number" name="mealId" value="@Model.Id" style="display: none;" />
    <input type="text" name="datetime" value="@ViewBag.WeekNumber" style="display: none;" />
    <input type="text" name="exOrders" value="@ViewBag.OrderIds" style="display: none;" />
    <input type="datetime" name="orderDate" value="@Model.DateValid" style="display: none;" />
    <input type="submit" style="margin: 20px 0px 10px 12px;" class="btn btn-info" value="Add to order" />
}